{% extends "base.html" %}

{% block content %}

<h1>Currently available surveys</h1>

<div class="surveys">

</div>

{% endblock %}

{% block script %}
<script>

$( document ).ready(function() {
    let surveys = document.querySelector(".surveys")
    $.get("/survey/list", function( data ) {
      //console.log(data)
      
      $.each(data, function( index, value ) {
        let a = document.createElement('a')
        a.setAttribute('class', 'd-block w-100 bg-primary text-white p-5 m-2')
        a.innerHTML = value.name
        a.href = '/survey/' + value.id + '/start/'
        surveys.appendChild(a)
      });

      
    });
});

</script>
{% endblock script %}